.about-widget {
  color: white;
  margin-top: -40vh;
  position: relative;
}

.section-1 {
  position: relative;
  width: 80vw;
  z-index: 1;
  height: 30vh;
  margin-top: 20vh;

  img {
    position: absolute;
    top: 0;
    left: 2vw;
    z-index: 1;
  }
}

.section-2 {
  width: 80vw;
  position: relative;
  z-index: 2;
  height: 30vh;
  top: 45vh;
  right: 0;

  img {
    position: absolute;
    width: 65vw;
    right: -15% !important;
  }
}

.journeys {
  top: 115%;
  left: 30%;
}

.boredom {
  top: 0;
  left: 10%;
}

.journeys , .boredom {
  position: absolute;

  h2 {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    font-size: 3.5vw;
    font-weight: $font-bold;
    letter-spacing: 0.3vw;
  }

  h3 {
    margin-top: 0;
    position: relative;
    z-index: 2;
    font-size: 1.7vw;
    font-weight: $font-regular;
    letter-spacing: 0.4vw;
  }
}

// MEDIA QUERIES
@media (max-width: 575px) {
  .about-widget {
    margin-top: -30vh;
  }

  .journeys {
    top: 70%;
    left: 45%;
  }

  .boredom {
    top: 80%;
  }

  .section-1 {
    margin-top: -20vh;
    img {
      width: 65vw;
    }
  }

  .section-2 {
    img {
      top: 70%;
    }
  }

}

@media (min-width: 576px) and (max-width: 991px) {
  .about-widget {
    margin-top: -25vh;
  }

  .journeys {
    top: 70%;
    left: 45%;
  }

  .boredom {
    top: 80%;
  }

  .section-1 {
    img {
      width: 65vw;
    }
  }

  .section-2 {
    img {
      top: 70%;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px ) {
  .about-widget {
    margin-top: -5vh;
  }

  .journeys {
    top: 70%;
    left: 45%;
  }

  .boredom {
    top: 80%;
  }

  .section-1 {
    img {
      width: 65vw;
    }
  }

  .section-2 {
    img {
      top: 70%;
    }
  }
}