.about-widget {
  color: white;
  margin-top: -10vw;
  position: relative;
}

.section-1 {
  position: relative;
  width: 80vw;
  z-index: 1;
  height: 30vh;

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.section-2 {
  width: 80vw;
  position: relative;
  z-index: 2;
  height: 30vh;
  top: 38vh;
  right: 0;

  img {
    position: absolute;
    width: 65vw;
    right: 0;
  }
}

.journeys {
  top: 100%;
  left: 20%;
}

.boredom {
  top: 0;
  left: 0;
}

.journeys , .boredom {
  position: absolute;

  h2 {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    font-size: 3.5vw;
    font-weight: $font-bold;
    letter-spacing: 0.3vw;
  }

  h3 {
    margin-top: 0;
    position: relative;
    z-index: 2;
    font-size: 1.7vw;
    font-weight: $font-regular;
    letter-spacing: 0.4vw;
  }
}

// MEDIA QUERIES
@media (max-width: 800px) {
  .header {
    height: 400px;
  }
  .section-1 {
    img {
      width: 65vw;
    }
  }
}