#finder {
  margin-top: -10vw;
}

.finder-wrapper{
  margin-top: -30vw;
  width: 100vw;
  height: 70vw;
  text-align: center;
  position: relative;
}

.pathfinder-widget {
  h1 {
    font-size: 3vw;
    letter-spacing: 0.4vw;
    text-transform: uppercase;
  }

}

.btn {
  width: 200px;
  height: 60px;
  font-size: 16px;
  font-family: $font-default !important;
  font-weight: $font-bold;
  letter-spacing: 0.3vw;
  color: $color-light;
  text-transform: uppercase;
  background-color: $color-brown;
  margin-top: 30px;
}

/* JS Finder app styles */
.table {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 500px;
  margin: 0 auto;
}

.field{
  width: 50px;
  height: 50px;
  border: 3px solid ;
  border-color: $color-light;
}

.field.active{
  background-color: $color-brown;
}

.field.start{
  background-color: $color-green!important;
}

.field.finish{
  background-color: $color-red!important;
}

.field.shortPath{
  background-color: $color-green!important;
}

.field.hint{
  background-color: rgba(0, 0, 255, 0.2);
}

// Media QUERIES
@media (min-width: 576px) and (max-width: 991px) {
  .table {
    width: 500px;

    .field {
      width: 50px;
      height: 50px;
    }
  }

  .pathfinder-widget {
    margin-top : 20vh !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px ) {
  .table {
    width: 800px;

    .field {
      width: 80px;
      height: 80px;
    }
  }
  .pathfinder-widget {
    margin-top : 20vh !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
}