.finder-wrapper{
  margin-top: -30vw;
  width: 100vw;
  height: 100vw;
  text-align: center;
  position: relative;
}

.pathfinder-widget {
  h1 {
    font-size: 3vw;
    text-transform: uppercase;
  }

}

.btn {
  width: 100px;
  height: 50px;
  font-size: 16px;
  color: black;
}

/* JS Finder app styles */
.table {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 500px;
  margin: 0 auto;
}

.field{
  width: 50px;
  height: 50px;
  border: 3px solid;
  border-color: $color-light;
}

.field.active{
  background-color: $color-brown;
}

.field.start{
  background-color: $color-green;
}

.field.finish{
  background-color: $color-green;
}