*, *::before, *::after {
  box-sizing: border-box;
}

html *{
  font-family: $font-default !important;
  color: $color-light;
}
/* Default styles for desktop screens */
body {
  background-color: $color-fulldark;
  font-size: 16px;
  margin: 0;
  overflow-y: scroll;
  max-width: 100%;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: flex;
  }
}

footer{
  position: relative;
  margin-top: calc(40% + 20px);
  text-align: center;
}

.footer-content p{
  color: $color-light;
}