*, *::before, *::after {
  box-sizing: border-box;
}

html *{
  font-family: $font-default !important;
  color: $color-light;
}
/* Default styles for desktop screens */
body {
  background-color: $color-dark;
  font-size: 16px;
  margin: 0;
  overflow-y: scroll;
  max-height: 2180px;
  max-width: 100%;
}

.container {
  max-width: 1920px;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: flex;
  }
}

.footer-content p{
  text-align: center;
  margin-top: -30vw;
  color: $color-light;
}