*, *::before, *::after {
  box-sizing: border-box;
}

html *{
  font-family: $font-default !important;
  color: $color-light;
}
/* Default styles for desktop screens */
body {
  background-color: $color-fulldark;
  font-size: 16px;
  margin: 0;
  overflow-y: scroll;
  max-width: 100%;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: flex;
  }
}

footer{
  position: relative;
  margin-top: calc(50% + 20px);
  margin-bottom: 10vh;
  text-align: center;
}

#footer-content {
  color: $color-light;
  font-family: $font-default;
  font-weight: $font-semibold;
  letter-spacing: 0.25vw !important;
}

// MEDIA QUERIES
@media (max-width: 576px) and (max-width: 991px) {
  footer {
    margin-top: calc(70% + 20px);
  }

  .section-2 {
    top: 15vh !important;
  }
}

@media (max-width: 992px)  and (max-width: 1200px ){
  footer {
    margin-top: calc(70% + 20px);
  }

  .section-2 {
    top: 15vh !important;
  }
}
