.header {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  max-width: 100%;
}

.nav {

}

.nav-link{
  margin-top: 2.7vw;
  padding: 0 2vw 0 4.75vw;
  text-decoration: none;
  color: $color-light;
  font-size: 1.5vw;
  font-weight: $font-semibold;
  text-transform: uppercase;
  letter-spacing: 2.25px;
}

/* Title styles */
.title {
  margin: 8vw auto 0 1vw;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: $font-black;
  text-align: center;
  letter-spacing: 1vw;
  color: $color-light;
}

.subtitle {
  margin-top: 0.4vw;
  margin-left: 33.5vw;
  font-size: 2vw;
  letter-spacing: 10.8px;
  color: $color-grey;
  text-align: center;
  text-transform: uppercase;
}