.header {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}
/* Title styles */
.title {
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 75px;
  color: #fff;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
}

.subtitle {
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
}