.header {
  background-image: url('/images/background.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.gradient{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 1089px;
}

.header-wrapper{
  max-width: 1920px;
}

.row{
  --bs-gutter-x: 0;
}

.nav-link{
  margin-top: 2.7vw;
  padding: 0 2vw 0 4.75vw;
  text-decoration: none;
  color: $color-light;
  font-size: 1.5vw;
  font-weight: $font-semibold;
  text-transform: uppercase;
  letter-spacing: 2.25px;
}

/* Title styles */
.title {
  margin: 8vw auto 0 1vw;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: $font-black;
  text-align: center;
  letter-spacing: 1vw;
  color: $color-light;
}

.subtitle {
  margin-top: 0.4vw;
  margin-left: 33.5vw;
  font-size: 2vw;
  letter-spacing: 10.8px;
  color: $color-grey;
  text-align: center;
  text-transform: uppercase;
}

// MEDIA QUERIES
@media (max-width: 575px) {
  .title {
    font-size: 7vw;
  }
  .subtitle {
    letter-spacing: 5px;
  }

  .nav-link {
    font-size: 3vw;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .header {
    height: 400px;
  }

  .nav-link {
    font-size: 2.5vw;
  }

  .subtitle {
    margin-left: 25vw;
    letter-spacing: 7px;
  }

}

@media (min-width: 992px) and (max-width: 1200px ) {
  .header {
    height: 400px;
  }
}