/* Variables */
$color-brown: #C24E00;
$color-light: #FFF;
$color-green: #2ECC71;
$color-dark: #131313;
$color-red: #E74C3C;
$color-grey: #e9e9e9;

$font-default: 'Source Sans Pro', sans-serif;
$font-bold: 700;
$font-semibold: 600;
$font-black: 900;
$font-regular: 400;
